.catalog {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 48px;
  justify-items: center;
  max-width: 944px;
  margin: 0 auto;

  &__card {
    display: grid;
    place-items: center;
    width: 200px;
    height: 300px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 48px;
  }

  @media screen and (min-width: 768px) and (max-width: 1023px) {
    grid-template-columns: repeat(3, 1fr);
  }

  @media screen and (min-width: 488px) and (max-width: 767px) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media screen and (max-width: 487px) {
    grid-template-columns: 1fr;
  }
}
